.typeBadge {
  display: inline-block;
  padding: 0px 20px;
  height: 35px;
  line-height: 33px;
  border-radius: 17px;
  color: #fff;
}

.typeBadge__news {
  background-color: #0561b7;
}

.typeBadge__work {
  background-color: #37a05d;
}

.typeBadge__edu {
  background-color: #6636a9;
}
