.bannerWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 130px;
  text-align: center;

  .bannerInner {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: 1180px;
    margin: 0 auto;
    column-gap: 20px;

    @media (max-width: 1180px) {
      padding: 0px 20px;
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .banner__sns {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      max-height: 196px;
      margin: 0 auto;
      padding: 30px 0;
      font-size: 16px;
      color: #777777;
      letter-spacing: -1px;
      background-color: white;

      @media (max-width: 768px) {
        margin-bottom: 10px;
        padding: 15px 0;
        font-size: 12px;
      }

      .banner__snsImg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 42px;

        img {
          max-width: 100%;
          height: auto;
        }

        @media (max-width: 768px) {
          height: 30px;
          padding: 0 15px;
        }
      }

      .banner__snsListWrap {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        justify-content: space-between;
        margin: 25px auto 0px;

        .banner__snsList + .banner__snsList {
          border-left: solid 1px #e5e5e5;

          @media (max-width: 768px) {
            border-left: none;
          }
        }

        .banner__snsListItem {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px 20px;
          flex-direction: column;
          row-gap: 20px;

          @media (min-width: 768px) and (max-width: 1180px) {
            row-gap: 15px;
            padding: 10px;
            font-size: 14px;
          }

          @media (max-width: 768px) {
            row-gap: 15px;
            padding: 5px;
          }
        }

        // $snsList: (blog, fb, yt, instagram);

        // @each $snsItem in $snsList {
        //   .banner__snsList.#{$snsItem} {
        //     background: url(/images/sdf/ico/ico_#{$snsItem}.png)
        //       no-repeat
        //       center;
        //   }
        // }
      }
    }

    .banner__slideContainer {
      .banner__slideImg {
        width: 100%;
        height: 196px;

        @media (max-width: 768px) {
          padding: 10px 0;
        }

        img {
          max-width: 100%;
          height: auto;
        }
      }

      .banner__controlWrap {
        position: absolute;
        right: 20px;
        bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;

        .banner__controlInner {
          display: flex;
          align-items: center;
          column-gap: 7px;
          color: #333;
          width: 90px;
          height: 32px;
          font-size: 16px;
          border: 1px solid #ddd;
          border-radius: 16px;
          background: #fff;
        }

        .banner__activeIndex {
          font-weight: 600;
        }

        .banner__prevBtn {
          width: 20px;
          height: 12px;
          background: url(/images/sdf/banner/ico_ban_prev.png) no-repeat center;
        }

        .banner__nextBtn {
          width: 20px;
          height: 12px;
          background: url(/images/sdf/banner/ico_ban_next.png) no-repeat center;
        }

        .banner__playBtn {
          width: 36px;
          height: 36px;
          margin-left: 3px;
          background: url(/images/sdf/banner/ico_ban_play.png) no-repeat center;
        }

        .banner__stopBtn {
          width: 36px;
          height: 36px;
          margin-left: 3px;
          background: url(/images/sdf/banner/ico_ban_stop.png) no-repeat center;
        }
      }
    }
  }
}
