.header {
  position: relative;
  width: 100%;
  padding-top: 32px;

  .search__wrap {
    display: none;
  }

  .search__wrap__active {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 150px;
    height: 230px;
    background-color: #1c355d;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.3);
    z-index: 101;

    .search__inner {
      position: relative;
      width: 100%;
      max-width: 640px;
      height: 55px;
      margin-top: -40px;
      padding-right: 50px;
      font-size: 20px;
      color: #fff;
      background-color: #fff;

      .header__search {
        display: block;
        overflow: hidden;
        position: absolute;
        left: -99999999999px;
        width: 0;
        height: 0;
        font-size: 0;
        line-height: 0;
      }

      input {
        height: 55px;
        width: 100%;
        padding: 5px 10px;
        font-size: 18px;
        color: #666;
      }

      .header__searchBtn {
        position: absolute;
        right: 0px;
        top: 3px;
        width: 50px;
        height: 50px;
      }

      .header__searchBtnClose {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 640px;
        margin-top: 20px;
      }
    }
  }

  .gnbBottom__overlay {
    height: 0;
  }

  .gnbBottom__overlay__active {
    position: absolute;
    top: 152px;
    left: 0;
    display: block;
    width: 100%;
    height: 210px;
    border-top: 1px solid #ccc;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.12);
    background-color: #f8f8f8;
    transition: height ease 0.2s;
    z-index: 9;
    visibility: visible;
  }

  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
  }

  .logo {
    display: block;
    width: 380px;
    height: 97px;
    background: url(/images/sdf/gnb/sdf_logo.gif) no-repeat center / contain;
  }

  .gnbWrap {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .gnbTop {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      column-gap: 10px;

      .gnbTop__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .gnbTop__menuList {
          padding: 0 15px;
        }

        .gnbTop__menuItem {
          font-weight: 700;
        }

        .gnbTop__menuItemKor {
          position: relative;
          font-weight: 700;
          text-decoration: underline;

          &:after {
            content: "";
            position: absolute;
            top: 5px;
            right: -15px;
            width: 1px;
            height: 12px;
            background-color: #ccc;
            z-index: 1;
            outline: none !important;
            outline-offset: 0px;
            outline-width: 0px;
          }
        }
      }

      .gnbTop__snsMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 10px;
        margin-left: 15px;
      }
    }

    .gnbBottom {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .gnbBottom__item:first-child {
        margin-right: 20px;
      }

      .gnbBottom__item {
        position: relative;
        display: flex;
        padding-right: 60px;
        color: #333;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: -1.5px;
        word-break: keep-all;

        .gnbBottom__itemLink {
          display: flex;
          padding: 20px 0px 17px 0px;
          border-bottom: 7px solid transparent;

          &:hover {
            color: #193172;
            border-bottom: 7px solid #193172;
          }
        }

        .gnbBottom__item__drop {
          display: none;
        }

        .gnbBottom__item__drop__active {
          position: absolute;
          top: 74px;
          left: 0;
          display: flex;
          font-size: 16px;
          z-index: 10;
          flex-direction: column;
          row-gap: 10px;
          transition: all ease 0.3s;
        }

        .gnbBottom__item__dropList {
          padding: 5px 0;
          line-height: 1.1;
          border-bottom: 2px solid transparent;

          &:hover {
            border-bottom: 2px solid #144796;
            color: #144796;
          }
        }
      }

      .gnbBottom__searchBtn {
        width: 64px;
        height: 64px;
        background-color: #e5e5e5;
      }
    }
  }
}
