.infoWrap {
  text-align: center;
  padding: 60px 0px;
  background-color: white;

  .infoInner {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;

    .h1 {
      font-size: 40px;
    }

    .infoListWrap {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 45px 0 50px;

      .infoListWrap__list + .infoListWrap__list {
        border-left: solid 1px #ccc;
      }

      .infoListWrap__listBtn {
        padding: 0 30px;
        text-align: center;
        font-size: 22px;
        font-weight: 500;
        color: #888888;
      }

      .infoListWrap__listBtn__active {
        padding: 0 30px;
        text-align: center;
        font-size: 22px;
        font-weight: 500;
        color: #134796;
      }
    }

    .active {
      color: #134796;
    }

    .swiperWrap {
      position: relative;
      z-index: 1;

      .infoSlideWrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 360px;
        padding: 30px 15px;
        text-align: left;
        border: solid 1px #dddddd;
        background-color: #fff;
        transition: 0.3s all;
        cursor: pointer;

        &:hover {
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
        }

        .infoSlideWrap__itemTitle {
          margin-top: 40px;
          font-size: 20px;
          font-weight: 600;
          color: #000;
          letter-spacing: -1px;
          word-break: keep-all;
        }

        .infoSlideWrap__itemDate {
          font-size: 16px;
          color: #8e8e95;
        }

        .infoSlideWrap__itemImg {
          width: 100%;
          height: 130px;
          object-fit: contain;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }

      .prevBtn {
        position: absolute;
        top: 50%;
        left: -100px;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background: url(/images/sdf/ico/ico_slide_prev.png) no-repeat center
          #f5f5f5;
        transform: translateY(-50%);
        z-index: 2;
      }

      .nextBtn {
        position: absolute;
        top: 50%;
        right: -100px;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background: url(/images/sdf/ico/ico_slide_next.png) no-repeat center
          #f5f5f5;
        transform: translateY(-50%);
        z-index: 2;
      }
    }
  }
}
