.workWrap {
  padding: 60px 0px 290px;
  background: url(/images/sdf/banner/bg_visual.png) no-repeat center bottom
    #edf5fc;
  letter-spacing: -1px;

  .workInner {
    max-width: 1180px;
    margin: 0 auto;
  }

  .workInner__title {
    text-align: center;

    .h1 {
      font-size: 40px;
    }

    .h3 {
      font-size: 20px;
      font-weight: 500;
      margin-top: 20px;
      color: #7b7b7b;
    }
  }

  .workInner__desc {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-top: 50px;

    .workInner__descImg {
      display: block;
      height: 100%;
      padding-top: 300px;
    }

    $works: (
      first: 1,
      second: 2,
      third: 3,
    );

    @each $order, $number in $works {
      .descImg__#{$order} {
        background:
          url(/images/sdf/info/img_q0#{$number}.png) no-repeat center,
          #fae5ee;
      }
    }

    .workInner__descWrap {
      position: relative;
      padding: 50px 20px 40px;
      border: 1px solid #ddd;
      background-color: #fff;

      &.workInner__descWrap:after {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        margin-top: -20px;
        border: 20px solid transparent;
        border-right-color: #ffffff;
      }

      &.descWrap__first:after {
        top: 50%;
        left: 0;
        margin-left: -20px;
        border-left: 0;
      }

      &.descWrap__second:after {
        top: 50%;
        right: 0;
        margin-right: -20px;
        border-right: 0;
      }

      &.descWrap__third:after {
        top: 0;
        left: 50%;
        margin-left: -20px;
        border-top: 0;
      }

      &.workInner__descWrap:hover {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);

        .workInner__descTit {
          color: #134796;
        }
      }

      .workInner__descSubTit {
        font-size: 16px;
        font-weight: 600;
        color: #134796;
      }

      .workInner__descTit {
        max-width: 234px;
        margin-top: 5px;
        font-size: 28px;
        font-weight: 600;
        color: #000000;
        word-break: keep-all;
        line-height: 1.3;
      }

      .workInner__descList {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        margin-top: 20px;
        font-size: 18px;
        font-weight: 500;
        color: #777777;
      }

      .workInner__descLink {
        display: flex;
        align-items: center;
        column-gap: 15px;
        margin-top: 60px;
        font-size: 18px;
        font-weight: 500;
        color: #7b7b7b;
      }
    }
  }
}
