.wrap {
  position: relative;
  height: 100%;
  padding: 0 7vw;
  font-family: "SUIT", sans-serif;
  color: white;
  background-color: black;

  .nav {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 50px;
    max-width: 150px;
    margin: 0 auto;
    z-index: 10;

    .nav_inner {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 5px;
      height: 49px;
      padding: 6px 0;
      font-weight: 700;
      text-align: center;
      border-radius: 999px;
      background-color: #fff;
    }

    .nav_link {
      padding: 8px 12px;
      font-family: "SUIT", sans-serif;
      font-size: 16px;
      font-weight: 900;
      color: #121212;
      border-radius: 999px;
      cursor: pointer;
    }
  }

  .item_container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .item_wrap {
      position: relative;
      top: 60vh;

      .title {
        position: relative;
        font-size: 42px;
        font-weight: 700;
        line-height: 63px;
        letter-spacing: -0.02em;
      }

      .year {
        margin-top: 12px;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.02em;
      }

      .item_desc {
        margin-top: 60px;
        line-height: 25px;
      }
    }
  }

  .item_img_wrap {
    position: relative;
    min-height: 100vh;

    .item_img_title_desc {
      font-size: 16px;
      color: rgb(104, 187, 255);
    }

    .item_img_ani_desc {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 20px;
      margin-top: 64px;

      img {
        max-width: 100%;
        height: auto;
      }

      @media (max-width: 768px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }

    .item_img_pc_wrap {
      margin-top: 64px;

      .item_img_pc_title {
        margin-bottom: 30px;
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: -0.02em;
      }
    }

    .item_img_mo_wrap {
      margin-top: 100px;

      .item_img_mo_title {
        margin-bottom: 30px;
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: -0.02em;
      }
    }
  }

  .copyright {
    padding: 120px 0 30px;
    text-align: center;
  }
}
