.wrap {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .gImgWrap {
    position: relative;
    display: block;
    border-radius: 10px;
    padding-top: 60%;
    overflow: hidden;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
    }

    .gImg {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: block;
      background-repeat: no-repeat;
      background-position: center 0;
      transition: all ease;

      &:hover {
        background-position: center 100%;
      }
    }
  }
}
