:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button,
textarea,
select {
  border: none;
  border-radius: 0;
  cursor: pointer;
  background: transparent;
}

/* 말줄임 관련 코드 */
.lineClamp4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* 모달 dim처리 코드 */
.dim {
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

/* 접근성 관련 코드 */
#accessibility {
  position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
}

#accessibility a {
  display: block;
  position: absolute;
  left: 0;
  top: -10px;
  width: 100%;
  height: 1px;
  margin-bottom: -1px;
  background: #f2f2f2;
  font-size: 0;
  text-align: center;
  font-weight: bold;
  color: #444;
}

#accessibility a:hover, 
#accessibility a:focus, 
#accessibility a:active {
  position: absolute;
  left: 0;
  top: 0;
  padding: 3px;
  height: 25px;
  font-size: 15px;
  outline-offset: -3px;
}

.blind {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  line-height: 999px;
  overflow: hidden;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@font-face {
	font-family: 'SUIT';
	font-weight: 100;
	src: local('SUIT Thin'), url('/font/suit/SUIT-Thin.woff2') format('woff2');
}

@font-face {
	font-family: 'SUIT';
	font-weight: 200;
	src: local('SUIT ExtraLight'), url('/font/suit/SUIT-ExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'SUIT';
	font-weight: 300;
	src: local('SUIT Light'), url('/SUIT-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'SUIT';
	font-weight: 400;
	src: local('SUIT Regular'), url('/font/suit/SUIT-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'SUIT';
	font-weight: 500;
	src: local('SUIT Medium'), url('/font/suit/SUIT-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'SUIT';
	font-weight: 600;
	src: local('SUIT SemiBold'), url('/font/suit/SUIT-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'SUIT';
	font-weight: 700;
	src: local('SUIT Bold'), url('/font/suit/SUIT-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'SUIT';
	font-weight: 800;
	src: local('SUIT ExtraBold'), url('/font/suit/SUIT-ExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: 'SUIT';
	font-weight: 900;
	src: local('SUIT Heavy'), url('/font/suit/SUIT-Heavy.woff2') format('woff2');
}